{
  "presets": [
    "react",
    "flow",
    [
      "env",
      {
        "targets": {
          "browsers": ["Last 4 versions", "iOS 7"]
        }
      }
    ]
  ],
  "plugins": ["transform-object-rest-spread", "transform-class-properties"]
}
