{
  "presets": [
    "react",
    "flow"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "browser": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "Last 4 versions",
                "iOS 7"
              ]
            }
          }
        ]
      ]
    },
    "node": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}